// 字體顏色
$color-font-1: #25282B;
$color-font-2: #B1B3B5;
$color-font-3: #ffffff;
$color-font-4: #696C70;
$color-font-5: #9EA0A2;

// 主題色
$color-primary: #E46120;
$color-secondary: #EFA418;
$color-tertiary: #EDEDEE;
$color-quaternary: #FEF8F6;
$color-white: #FFFFFF;
$color-sign-up-bg: #FDF8F3;
$color-accordion-grey: #F9F9F9;


// 庫存
$color-green: #09B943;
$color-red: #D80B2D;
$color-grey: #B1B3B5;