.line-add-friend {
  position: relative;

  & .bg-image {
    width: 50rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  & .title {
    position: absolute;
    top: 60px;
    left: 120px;
    font-size: 30px;
    color: #3BAE37;
  }

  & .code {
    position: absolute;
    top: 555px;
    left: 82px;

    & img {
      width: 110px;
    }
  }

  & .id {
    position: absolute;
    top: 574px;
    left: 322px;
    font-size: 15px;
    color: #3BAE37;
  }
}