.bg-image {
  width: 791px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


.title {
  position: absolute;
  top: 100px;
  left: 170px;
  font-size: 45px;
  color: #3BAE37;
}

.code {
  position: absolute;
  top: 880px;
  left: 130px;
}

.code-img {
  width: 170px;
}

.id {
  position: absolute;
  top: 907px;
  left: 508px;
  font-size: 24px;
  color: #3BAE37;
}